; vim: set ft=dosini :

[flake8]
select =
	# pycodestyle errors
	E,
	# pyflakes
	F,
	# bandit security warnings
	S,
	# pycodestyle warnings
	W,
ignore =
	# line break before binary operator, use W504
	W503,
exclude =
	__pycache__,
	.eggs/,
	.git/,
	build/,
	docs/,
per-file-ignores =
	# unused import in __init__
	__init__.py:F401
	# tests:
	#   - S101: use of assert
	#   - S113: requests call without timeout
	test_*.py:S101,S113
