# -- ciecplib source package --------------------------------------------------

Source: ciecplib
Section: python
Priority: optional
Maintainer: Duncan Macleod <duncan.macleod@ligo.org>
Standards-Version: 4.2.1
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Homepage: https://github.com/duncanmmacleod/ciecplib
Build-Depends: debhelper (>= 9),
               dh-python,
               help2man,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools

# -- python-ciecplib ----------------------------------------------------------

Package: python-ciecplib
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-kerberos,
         python-lxml,
         python-m2crypto,
         python-openssl
Description: A python client for SAML ECP authentication

# -- python3-ciecplib ---------------------------------------------------------
# requires buster-backports or newer

Package: python3-ciecplib
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python3-kerberos,
         python3-lxml,
         python3-m2crypto,
         python3-openssl
Description: A python client for SAML ECP authentication

# -- ciecp-utils --------------------------------------------------------------

Package: ciecp-utils
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-ciecplib
Description: Command-line utlities for SAML ECP authentication
