#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export PYBUILD_DISABLE = test

# redirect Python 2 entry points to bogus path
export PYBUILD_INSTALL_ARGS_python2 = --install-scripts=/ignore
export PYBUILD_AFTER_INSTALL_python2 = rm -rf {destdir}/ignore

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
