# ---------------------------
#
# Prepare distributions of this project
# for various platforms
#
# ---------------------------

name: Packaging

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tarball:
    name: Tarball

    runs-on: ubuntu-latest

    steps:
      - name: Get source code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install build requirements
        run: python -m pip install build setuptools wheel

      - name: Create distributions
        run: python -m build . --sdist --wheel --outdir .

      - uses: actions/upload-artifact@v2
        with:
          name: tarball
          path: ciecplib-*.tar.*
          if-no-files-found: error

      - uses: actions/upload-artifact@v2
        with:
          name: wheel
          path: ciecplib*.whl
          if-no-files-found: error

  # -- Pip ------------------

  pip-install:
    name: Pip install from ${{ matrix.artifact }}
    needs:
      - tarball
    strategy:
      matrix:
        include:
          - artifact: tarball
            source: ciecplib*.tar.*
          - artifact: wheel
            source: ciecplib*.whl
    runs-on: ubuntu-latest
    steps:
      - name: Download tarball
        uses: actions/download-artifact@v2
        with:
          name: ${{ matrix.artifact }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install build requirements
        run: |
          sudo apt-get install -y -q -q \
              libkrb5-dev \
          ;
          python -m pip install --upgrade \
              pip \
              setuptools \
              wheel \
          ;

      - name: Install from ${{ matrix.artifact }}
        run: python -m pip install ${{ matrix.source }}

  # -- Conda ----------------

  conda-install:
    name: Conda build (fake)
    needs:
      - tarball
    runs-on: ubuntu-latest
    steps:
      - name: Download tarball
        uses: actions/download-artifact@v2
        with:
          name: tarball

      - name: Cache conda packages
        uses: actions/cache@v2
        env:
          # increment to reset cache
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: conda-build-fake-${{ env.CACHE_NUMBER }}
          restore-keys: conda-build-fake-

      - name: Configure conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          channels: conda-forge
          python-version: 3
          # this is needed for caching to work properly:
          use-only-tar-bz2: true

      - name: Conda info
        run: conda info --all

      - name: Unpack tarball
        run: |
          mkdir src
          tar -xf ciecplib-*.tar.* --strip-components=1

      - name: Install dependencies
        run: |
          conda install --quiet --yes --name test \
              pip \
              setuptools \
              --file requirements.txt \
          ;

      - name: Install ciecplib
        env:
          # make out build look like a conda-build build
          PIP_NO_BUILD_ISOLATION: "False"
          PIP_NO_DEPENDENCIES: "True"
          PIP_IGNORE_INSTALLED: "True"
          PIP_CACHE_DIR: "${{ github.workspace }}/pip_cache"
          PIP_NO_INDEX: "True"
        shell: bash -el {0}
        run: python -m pip install . -vv

  # -- Debian ---------------

  debian-source:
    name: Debian ${{ matrix.debian }} source package
    needs:
      - tarball
    strategy:
      fail-fast: false
      matrix:
        include:
          - debian: stretch
            container: igwn/base:stretch-proposed
          - debian: buster
            container: debian:buster-backports
          - debian: bullseye
            container: debian:bullseye
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    env:
      TARBALL: "ciecplib-*.tar.*"
    steps:
      - name: Download tarball
        uses: actions/download-artifact@v2
        with:
          name: tarball

      - name: Configure apt
        run: |
          apt-get autoclean
          apt-get -y -q -q update
          apt-get -y -q -q install \
              dpkg-dev \
          ;

      - name: Create source package
        run: |
          mkdir src
          tar -xf ${TARBALL} -C src --strip-components=1
          # rename tarball for debian orig
          _orig=$(basename ${TARBALL} | sed 's|\(.*\)-\(.*\).\(tar\..*\)|\1_\2.orig.tar.gz|')
          mv -v ${TARBALL} "${_orig}"
          # create debian source package files
          dpkg-source --build src

      - uses: actions/upload-artifact@v2
        with:
          name: dsc-${{ matrix.debian }}
          path: |
            *.orig.tar.*
            *.debian.tar.*
            *.dsc
          if-no-files-found: error

  debian-binary:
    name: Debian ${{ matrix.debian }} binary package
    needs:
      - debian-source
    strategy:
      fail-fast: false
      matrix:
        include:
          - debian: stretch
            container: igwn/base:stretch-proposed
          - debian: buster
            container: igwn/base:buster
          - debian: bullseye
            container: igwn/base:bullseye
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    env:
      DSC: "ciecplib_*.dsc"
    steps:
      - name: Download source package
        uses: actions/download-artifact@v2
        with:
          name: dsc-${{ matrix.debian }}

      - name: Configure apt
        run: |
          apt-get -y -q -q update
          apt-get -y -q -q install \
              devscripts \
              dpkg-dev \
          ;

      - name: Unpack DSC
        run: |
          dpkg-source --extract ${DSC} src

      - name: Install build dependencies
        env:
          DOCKER_CONTAINER: ${{ matrix.container }}
        shell: bash -ex {0}
        run: |
          cd src
          mk-build-deps \
              --tool "apt-get -y -q -o Debug::pkgProblemResolver=yes --no-install-recommends" \
              --install \
              --remove \
          ;

      - name: Build binary packages
        run: |
          cd src
          # build debian packages
          dpkg-buildpackage -us -uc -b

      - name: Print package info
        run: |
          # print contents of packages
          for debf in *.deb; do
              echo "===== ${debf}"
              dpkg --info "${debf}"
              dpkg --contents "${debf}"
          done

      - name: Install new packages
        run: |
          dpkg --install *.deb || { \
              apt-get -y -f install;
              dpkg --install *.deb;
          }

      - uses: actions/upload-artifact@v2
        with:
          name: deb-${{ matrix.debian }}
          path: |
            *.buildinfo
            *.changes
            *.deb
          if-no-files-found: error

  debian-install:
    name: Debian ${{ matrix.debian }} install test
    needs:
      - debian-binary
    strategy:
      fail-fast: false
      matrix:
        include:
          - debian: stretch
            container: igwn/base:stretch-proposed
          - debian: buster
            container: igwn/base:buster
          - debian: bullseye
            container: igwn/base:bullseye
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    steps:
      - name: Download binary packages
        uses: actions/download-artifact@v2
        with:
          name: deb-${{ matrix.debian }}

      - name: Configure apt
        run: apt-get -y -q -q update

      - name: Install packages
        shell: bash -ex {0}
        run: |
          dpkg --install *.deb || { \
              apt-get -y -f install;
              dpkg --install *.deb;
          }

  lint-debian:
    name: Lint Debian packages
    runs-on: ubuntu-latest
    container: debian
    needs:
      - debian-binary
    steps:
      - name: Download debian package
        uses: actions/download-artifact@v2
        with:
          name: deb-bullseye

      - name: Install lintian
        run: |
          apt-get -y -q -q update
          apt-get -y -q -q install \
              lintian \
          ;

      - name: Lintian
        run: lintian --color=auto --allow-root --pedantic --fail-on-warnings *.changes

  # -- RHEL -----------------

  rhel-source:
    name: LSCSoft ${{ matrix.el }} source package
    needs:
      - tarball
    strategy:
      fail-fast: false
      matrix:
        el:
          - el7
          - el8
    runs-on: ubuntu-latest
    container: igwn/base:${{ matrix.el }}-testing
    env:
      TARBALL: "ciecplib-*.tar.*"
    steps:
      - name: Download tarball
        uses: actions/download-artifact@v2
        with:
          name: tarball

      - name: Configure yum/dnf
        if: matrix.el == 'el7'
        run: ln -s /usr/bin/yum /usr/bin/dnf

      - name: Configure rpmbuild
        run: |
          dnf -y install \
              python-srpm-macros \
              rpm-build \
          ;

      - name: Configure EPEL
        run: |
          dnf -y install epel-release
          dnf -y install epel-rpm-macros

      - name: Create source package
        run: rpmbuild -ts --define "_srcrpmdir $(pwd)" ${TARBALL}

      - uses: actions/upload-artifact@v2
        with:
          name: srpm-${{ matrix.el }}
          path: "*.src.rpm"
          if-no-files-found: error

  rhel-binary:
    name: LSCSoft ${{ matrix.el }} binary package
    needs:
      - rhel-source
    strategy:
      fail-fast: false
      matrix:
        el:
          - el7
          - el8
    runs-on: ubuntu-latest
    container: igwn/base:${{ matrix.el }}-testing
    env:
      SRPM: "ciecplib-*.src.rpm"
    steps:
      - name: Download SRPM
        uses: actions/download-artifact@v2
        with:
          name: srpm-${{ matrix.el }}

      - name: Configure yum/dnf
        if: matrix.el == 'el7'
        run: ln -s /usr/bin/yum /usr/bin/dnf

      - name: Configure EPEL
        run: |
          dnf -y install epel-release
          dnf -y install epel-rpm-macros

      - name: Install build tools (el7)
        if: matrix.el == 'el7'
        run: |
          yum -y install \
              rpm-build \
              yum-utils \
          ;

      - name: Install build tools (el8+)
        if: matrix.el != 'el7'
        run: |
          dnf -y install \
              rpm-build \
              "dnf-command(builddep)" \
          ;

      - name: Install build dependencies (el7)
        if: matrix.el == 'el7'
        run: yum-builddep -y ${SRPM}

      - name: Install build dependencies (el8+)
        if: matrix.el != 'el7'
        run: dnf builddep -y ${SRPM}

      - name: Build binary packages
        run: |
          rpmbuild --rebuild --define "_rpmdir $(pwd)" ${SRPM}
          rm -f ${SRPM}
          mv */*.rpm .

      - name: Print package info
        run: |
          # print contents of packages
          for rpmf in *.rpm; do
              echo "===== ${rpmf}"
              rpm -qlp "${rpmf}"
              echo "Files:"
              rpm -qip "${rpmf}"
              echo "Provides:"
              rpm -qp --provides "${rpmf}"
              echo "Requires:"
              rpm -qp --requires "${rpmf}"
          done

      - name: Install new packages
        run: dnf -y install *.rpm

      - uses: actions/upload-artifact@v2
        with:
          name: rpm-${{ matrix.el }}
          path: "*.rpm"
          if-no-files-found: error

  rhel-install:
    name: LSCSoft ${{ matrix.el }} install test
    needs:
      - rhel-binary
    strategy:
      fail-fast: false
      matrix:
        el:
          - el7
          - el8
    runs-on: ubuntu-latest
    container: igwn/base:${{ matrix.el }}-testing
    steps:
      - name: Download RPMs
        uses: actions/download-artifact@v2
        with:
          name: rpm-${{ matrix.el }}

      - name: Configure YUM
        if: matrix.el == 'el7'
        run: ln -s /usr/bin/yum /usr/bin/dnf

      - name: Configure EPEL
        run: dnf -y install epel-release

      - name: Install RPMs
        run: dnf -y install *.rpm

  lint-rhel:
    name: Lint CentOS packages
    runs-on: ubuntu-latest
    container: centos:8
    needs:
      - rhel-binary
    steps:
      - name: Download RPM
        uses: actions/download-artifact@v2
        with:
          name: rpm-el8

      - name: Install rpmlint
        run: |
          dnf -y install \
              rpmlint \
          ;

      - name: Lint
        run: rpmlint --info *.rpm
